html {
  box-sizing: border-box;
  font-size: 62.5%;
  scrollbar-color: yellow black;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-size: 1.3rem;
  background: #101010;
  font-family: "Merriweather", serif;
  text-rendering: optimizelegibility !important;
  color: black;
}

main {
  background: white;
  width: 1080px;
  margin: 0 auto;
  min-height: 100.1vh;
  padding: 8rem 0;
}

nav {
  width: 100%;
  max-width: 1080px;
  position: fixed;
  top: 0;
  z-index: 999;
}

header {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  background: #202020;
  color: yellow;
  font-style: italic;
}

.nav {
  font-size: 1.2rem;
  position: fixed;
  top: 3rem;
  background: #303030;
  width: 1080px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  box-shadow: 0 2px 2px black;
  transition: color 0.3s, background 0.3s, box-shadow 0.3s;
}
.nav--fixed {
  position: fixed;
  top: 0;
  box-shadow: 0 2px 6px black;
}
.nav_item {
  margin: 0 0.5rem;
  padding: 1rem;
  transition: color 0.2s;
  position: relative;
}
.nav_item--selected {
  color: yellow;
}
.nav_item:hover {
  color: yellow;
  cursor: pointer;
}
.nav_item:hover .nav_item_flex-container {
  display: flex;
  margin-top: 1rem;
}
.nav_item_flex-container {
  color: white;
  display: none;
  position: absolute;
  background: inherit;
  background: #303030;
  padding: 1rem;
  box-shadow: none;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
}
.nav_item_flex-container-item {
  padding: 0.2rem;
  white-space: nowrap;
}
.nav_item_flex-container-item:hover {
  color: yellow;
  cursor: pointer;
}
.nav_item_flex-container-item--sec {
  margin-left: 2rem;
}
.nav_item_flex-container-item--sec:hover {
  color: cyan;
  cursor: pointer;
}
.nav_item_flex-container-item--third {
  margin-left: 4rem;
}
.nav_item_flex-container-item--third:hover {
  color: lime;
  cursor: pointer;
}
.nav_item:last-child {
  margin-left: auto;
}

.section {
  margin: 1rem;
  padding: 0 2rem;
  display: none;
}

.main-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem 0;
}

.block {
  display: block;
  margin: 0 0 1.5rem 0;
}
.block def1, .block def2, .block def3 {
  margin-left: -2rem;
}
.block ul def1, .block ul def2, .block ul def3 {
  margin-left: 0;
}

def1,
def2,
def3 {
  padding: 0 0.5rem;
  font-weight: bold;
  border-radius: 3px;
}

def1 {
  background: repeating-linear-gradient(90deg, transparent -120%, yellow 0%, transparent 120%);
}

def2 {
  background: repeating-linear-gradient(90deg, transparent -120%, cyan 0%, transparent 120%);
}

def3 {
  background: repeating-linear-gradient(90deg, transparent -120%, lime 0%, transparent 120%);
}

def-code {
  font-family: Courier, "Lucida Console", monospace;
  font-size: 1.3rem;
  color: white;
  background: #101010;
  padding: 0 0.5rem;
  border-radius: 3px;
}

ul {
  list-style-type: circle;
}
ul li ul {
  margin-left: 2rem;
  list-style-type: square;
}
ul li ol {
  margin-left: 2rem;
}

table {
  margin-top: 2rem;
  border: 1px solid black;
}
table tr {
  padding-left: 2rem;
}
table tr td:first-child {
  color: blue;
  font-weight: bold;
}
table tr:nth-child(2n+1) {
  background-color: #eeeeee;
}
table tr:nth-child(2n+1) td {
  background-color: #eeeeee;
}

.loader {
  z-index: 9999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6666666667);
  text-align: center;
}
.loader_text {
  position: fixed;
  text-align: center;
  top: 50vh;
  transform: translateY(-50%);
  width: 100%;
  background: rgba(255, 255, 255, 0.502);
  line-height: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.loader .dot-pulse {
  position: fixed;
  top: 50vh;
  margin-left: 50%;
  color: black;
  transform: translate(-50%, 130%);
}

.img_brya7v {
  visibility: 0.5;
  border-radius: 50%;
  position: fixed;
  top: 50vh;
  transform: translate(-50%, -70%);
  opacity: 0.2;
  -o-object-fit: cover;
     object-fit: cover;
  width: 500px;
  height: 500px;
}

.poblem-solution__container {
  background: #303030;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 15px;
  margin: 1rem auto 3rem auto;
  color: white;
}

.poblem-solution__title {
  margin-bottom: 1rem;
  background: repeating-linear-gradient(90deg, transparent -120%, cyan 0%, transparent 100%);
  padding: 0 0.5rem;
  font-weight: bold;
  border-radius: 3px;
  color: black;
}

.poblem-solution__pre {
  font-family: Courier, "Lucida Console", monospace;
  font-size: 1.3rem;
  color: white;
}