<h2 class="main-title">React</h2>

<div class="block">
    <def1>React</def1>
    <ul>
        <li>Is a <strong>JavaScript library</strong> for building user interfaces.</li>
        <li>Mobile apps and desktop apps fell very <strong>"reactive"</strong>: things happen instantly, you don't wait for new pages to load or actions to start.</li>
        <li>At first, websites didn't have this <strong>Smooth transitions behavior</strong>, traditionally in web apps, you click a link and wait for a new page to load. You click a button and wait for
        some action to complete.</li>

        <br>
        <li>With <strong>Javascript vanilla</strong> we can breack that slow behavior, with Js we can change what the user sees without fetching and reloading the page every time</li>
        <li>Javascript runs in the browser on the <strong>Currently loaded page</strong> and it can manipulate the HTML structure (DOM) of the page.</li>
        <li>Thus no visible request to the server are required, no need to wait for a new HTML page as a response and we can have a smooth behavior.</li>
        <br>

        <li>Thats why javascript can help us, and <strong>React</strong> is an extra building block that can help us with writing client side javascript code to have an even better reactive experience.</li>
        <li>React its all about components</li>
        <li>Every component has a clear task</li>

        <li>React its not a step by step instructions code, in React we work at a higher level, creating components wich then create all those step by step instructions.</li>

        <li><strong>React</strong>
        <ul>
            <li>Is a client side JavaScript library</li>
            <li>All about building modern, reactive user interfaces for the wab</li>
            <li>It can help building complex applications easier</li>
        </ul>
        </li>

    </ul>

</div>


<div class="block">
    <def2>Alternative Frameworks</def2>
    <p><strong> - Angular</strong> Complete component based UI framework, packed with features. Uses typescript. Can be an overkill for smaller projects.</p>
    <br>
    <p><strong> - React</strong> is a lean and focused component based UI library. Certain features (ex. routing) area added via community packages.</p>
    <br>
    <p><strong> - Vue</strong> Mixture of angular and react, is also a complete component based UI framework, includes most core features, less popular than react and angular.</p>

<div class="block">
    <def2>SPAs</def2>
    <p>We could use react to control specific parts of the html pages → <strong>Widgets approach</strong> where some pager are still rendered and served by a backend server</p>
    <p>But, we can also use react to contro <strong>The entire frontend</strong> of a web application → <strong>SPAs approach</strong> where the server sends only one HTML page, thereafter, React takes over and controls the UI</p>
    <p>Single Page Applications</p>
</div>

<div class="block">
    <def2>Components</def2>
    <p>Components are reusable pieces of code<strong>Widgets approach</strong> where some pager are still rendered and served by a backend server</p>
    <p>But, we can also use react to contro <strong>The entire frontend</strong> of a web application → <strong>SPAs approach</strong> where the server sends only one HTML page, thereafter, React takes over and controls the UI</p>
    <p>Single Page Applications</p>
</div>
