<h2 class="main-title">Design Patterns</h2>

<div class="block">
    <def1>Design Patterns</def1>
    <ul>
        <li>Design Patterns are nothing more than common architectural approeaches. </li>
        <li>Popularized by the Gang of four book 1994 for c++</li>
        <li>They are universally relevant, some languages have them internalized in itslefs </li>
    </ul>
</div>

<div class="block">
    <def1>SOLID</def1>
    <ul>
        <li>It's an acronym that describes the fundamental principles of object orientend programming</li>
        <li>Introduced by Robert C. Martin aka uncle Bob</li>
        <li><def2>The 5 SOLID principles</def2></li>
        <li>
            <ul>
                
                <li><strong>S</strong> - Single Responsibility Principle (SRP)</li>
                <li><strong>O</strong> - Open/Closed Principle (OCP)</li>
                <li><strong>L</strong> - Liskov Substitution Principle (LSP)</li>
                <li><strong>I</strong> - Interface Segregation Principle (ISP)</li>
                <li><strong>D</strong> - Dependency Inversion Principle (DIP)</li>

            </ul>

        </li>
    </ul>
</div>
<!-- Single Responsibility Principle (SRP) -->
<div w3-include-html="views/designPatterns/solid/srp.html"></div>

<!-- Open/Closed Principle (OCP) -->
<div w3-include-html="views/designPatterns/solid/ocp.html"></div>

<!-- Liskov Substitution Principle (LSP) -->
<div w3-include-html="views/designPatterns/solid/lsp.html"></div>

<!-- Interface Segregation Principle (ISP) -->
<div w3-include-html="views/designPatterns/solid/isp.html"></div>

<!-- Dependency Inversion Principle (DIP) -->
<div w3-include-html="views/designPatterns/solid/dip.html"></div>

<div class="block">
    <def1>Patterns</def1>
    <p>Design Patterns are typically split into three categories</p>

    <def2>Gamma Categorization</def2>
    <p>This categorization is called Gamma Categorization, after Erich Gamma, one of Gang of Four book aouthors</p>
    <ul>
        <li>There are 3 main types of SOLID sesign patterns categories</li>


        <li><def2>-Creational</def2></li>
        <li>
            <ul>
                <li><strong>Builder</strong> - </li>
                <li><strong>Factories</strong> -  
                    <ul>
                        <li><strong>Abstract Factory</strong> - </li>
                        <li><strong>Factory Method</strong> - </li>
                    </ul>
                </li>
                <li><strong>Prototype</strong> - </li>
                <li><strong>Singleton</strong> - </li>
            </ul>
        </li>

        <li><def2>-Structural</def2></li>
        <li>
            <ul>
                <li><strong>Adapter</strong> - </li>
                <li><strong>Bridge</strong> -  </li>
                <li><strong>Composite</strong> - </li>
                <li><strong>Decorator</strong> - </li>
                <li><strong>Façade</strong> - </li>
                <li><strong>Flywheight</strong> - </li>
                <li><strong>Proxy</strong> - </li>
            </ul>
        </li>

        <li><def2>-Behavioral</def2></li>
        <li>
            <ul>
                <li><strong>Chain of Responsibility</strong> - </li>
                <li><strong>Command</strong> -  </li>
                <li><strong>Interpreter</strong> - </li>
                <li><strong>Iterator</strong> - </li>
                <li><strong>Mediator</strong> - </li>
                <li><strong>Memento</strong> - </li>
                <li><strong>Observer</strong> - </li>
                <li><strong>State</strong> - </li>
                <li><strong>Strategy</strong> - </li>
                <li><strong>Template Method</strong> - </li>
                <li><strong>Visitor</strong> - </li>
            </ul>
        </li>
    </ul>
</div>

<div class="block">
    <def1>AntiPatterns</def1>
    <ul>
        <li><strong>GodObject</strong> Huge class with lots of Responsibilities, lots of spaggety code difficult to figure it out</li>
    </ul>
</div>

<!-- Creational Patterns -->
<div w3-include-html="views/designPatterns/creational/creational.html"></div>

<!-- Structural Patterns -->
<div w3-include-html="views/designPatterns/structural/structural.html"></div>

<!-- Behavioral Patterns -->
<div w3-include-html="views/designPatterns/behavioral/behavioral.html"></div>


<!-- Summary -->
<div w3-include-html="views/designPatterns/summary.html"></div>

