<h2 class="main-title">HTML</h2>

<div class="block">
    <def1>HTML</def1>
    <ul>
        <li>Hyper Text Markup Language.</li>
        <li>Described by HTML tags wich describe different types of content, headers, paragraphs, links, etc.</li>
    </ul>
</div>

<div class="block">
    <def1>HTML elements</def1>
    <ul>
        <li>An HTML element is defined by a start tag, some content, and an end tag.</li>
        <li><def-code>&lttagname&gt</def-code> Content goes here... <def-code>&lt/tagname&gt</def-code></li>
        <li>Elements can have attributes, like classes, src, alt, etc</li>
    </ul>
</div>

<div class="block">
    <def1>script</def1>
    <ul>
        <li>Scripts are appendend at the end of the body, before the closing tag (order matters), its commonly used props are: <em>src</em></li>
        <li>It's are NOT selfclosing element <def-code>&ltscript src=""&gt</def-code> <def-code>&lt/script&gt</def-code>.</li>
    </ul>
</div>

<div class="block">
    <def1>link</def1>
    <ul>
        <li>The link element allows authors to link their document to other resources.</li>
        <li>It's ARE a selfclosing element <def-code>&ltlink hfref="" rel:"" &gt</def-code>.</li>
        <li>It <strong>must</strong> contain a <em>href</em> attribute wiwhich must be present and must contain a valid non-empty URL potentially surrounded by spaces.</li>
        <li>It <strong>must</strong> contain a <em>rel</em> attribute, which, if present, must have a value that is a set of space-separated tokens. 'stylesheet'</li>
    </ul>
</div>

<div class="block">
    <def1>picture - srcset</def1>
    <ul>
        <li>Dynamic images depending on media and srcset, also size can be increased or decreased by an X modifier</li>
        <li>It must have the <def-code>&ltsource srcset:"" media:""&gt</def-code> and <def-code>&ltimg alt=""&gt</def-code> elements to work properly. </li>
    </ul>
    <pre>
        &ltpicture&gt
            &ltsource srcset="smoll.png 0.8x" media="(min-width:1000px)"&gt ( / 0.8 smaller (20% size inc))
            &ltsource srcset="big.png 2x" media="(max-width:1000px)"&gt ( / 2x smaller (half size))
            &ltimg&gt
        &lt/picture&gt
    </pre>
</div>

<div class="block">
    <def1>Basic HTML template</def1>
    <pre>
    &lt!DOCTYPE html&gt
    &lthtml lang="en"&gt
        &lthead&gt
            &ltmeta charset="UTF-8"&gt
            &ltmeta http-equiv="X-UA-Compatible" content="IE=edge"&gt
            &ltmeta name="viewport" content="width=device-width, initial-scale=1.0"&gt
            &ltlink rel="stylesheet" href="css/style.css"&gt
            &lttitle&gtDocument&lt/title&gt
        &lt/head&gt
        &ltbody&gt
            &ltmain&gt
                &ltnav&gt
                    &ltheader&gtUnforgettable Gists&lt/header&gt
                    &ltdiv class="nav"&gt
                        &ltdiv class="nav_item nav_item-item3" section="item3"&gtitem3&lt/div&gt
                        &ltdiv class="nav_item nav_item-item4" section="item4"&gtitem4&lt/div&gt
                        &ltdiv class="nav_item nav_item-item5" section="item5"&gtitem5&lt/div&gt
                    &lt/div&gt
                &lt/nav&gt
                &ltsection class="section section-item3"&gt
                    &ltdiv&gtITEM 3&lt/div&gt
                &lt/section&gt
                &ltsection class="section section-item4"&gt
                    &ltdiv&gtITEM 4&lt/div&gt
                &lt/section&gt
                &ltsection class="section section-item5"&gt
                    &ltdiv&gtITEM 5&lt/div&gt
                &lt/section&gt
            &lt/main&gt
            &ltscript src="js/main.js"&gt&lt/script&gt
        &lt/body&gt
    &lt/html&gt
    </pre>
</div>