<div class="block">
    <def1>1.Two sum</def1>
    <div class="problem-desc">    
        <div class="content__u3I1 question-content__JfgR"><div><p>Given an array of integers <code>nums</code>&nbsp;and an integer <code>target</code>, return <em>indices of the two numbers such that they add up to <code>target</code></em>.</p>

            <p>You may assume that each input would have <strong><em>exactly</em> one solution</strong>, and you may not use the <em>same</em> element twice.</p>

            <p>You can return the answer in any order.</p>
            
            <p>&nbsp;</p>
            <p><strong>Example 1:</strong></p>
            
            <pre><strong>Input:</strong> nums = [2,7,11,15], target = 9
            <strong>Output:</strong> [0,1]
            <strong>Explanation:</strong> Because nums[0] + nums[1] == 9, we return [0, 1].
            </pre>
            
            <p><strong>Example 2:</strong></p>
            
            <pre><strong>Input:</strong> nums = [3,2,4], target = 6
            <strong>Output:</strong> [1,2]
            </pre>
            
            <p><strong>Example 3:</strong></p>
            
            <pre><strong>Input:</strong> nums = [3,3], target = 6
            <strong>Output:</strong> [0,1]
            </pre>
            
            <p>&nbsp;</p>
            <p><strong>Constraints:</strong></p>
            
            <ul>
                <li><code>2 &lt;= nums.length &lt;= 10<sup>4</sup></code></li>
                <li><code>-10<sup>9</sup> &lt;= nums[i] &lt;= 10<sup>9</sup></code></li>
                <li><code>-10<sup>9</sup> &lt;= target &lt;= 10<sup>9</sup></code></li>
                <li><strong>Only one valid answer exists.</strong></li>
            </ul>
            
            <p>&nbsp;</p>
            <strong>Follow-up:&nbsp;</strong>Can you come up with an algorithm that is less than&nbsp;<code>O(n<sup>2</sup>)&nbsp;</code>time complexity?</div>
        </div>
    </div>

    <pre>

        /**
        * @param {number[]} nums
        * @param {number} target
        * @return {number[]}
        */
        var twoSum = function(nums, target) {
            var map = new Map()
            var index1, index2
            nums.some( (e, index) => {
                //search the index on the hasmap of the value thats = target - e. So value + e = target. If 
                if(map.get(target-e) == null) map.set(e, index)                    
                else {
                    index1 = index
                    index2 = map.get(target-e) 
                    return true
                }
            })        
            return [index1, index2]
        }

        //same solution using obj instead of a map (under the hood objects workk like a hashmap)
        //although is preferable the use of hashmaps     

        var twoSum = function(nums, target) {
            var obj = {}
            var index1, index2
            nums.some( (e, index) => {
                if(obj[target-e] == null) obj[e] = index        
                else {
                    index1 = index
                    index2 = obj[target-e]
                    return true
                }
            })        
            return [index1, index2]
        }
        
    </pre>
</div>