


<div class="block">
    <def1>5. Longest Palindromic Substring </def1>
    <div>
        <p>Given a string <strong>s</strong>, return <em>the longest palindromic substring</em> in <strong>s</strong>.</p>

        <p>A string is called a palindrome string if the reverse of that string is the same as the original string.</p>
        
        <p>&nbsp;</p>
        <p><strong>Example 1:</strong></p>
        
        <pre><strong>Input:</strong> s = "babad"
        <strong>Output:</strong> "bab"
        <strong>Explanation:</strong> "aba" is also a valid answer.
        </pre>
        
        <p><strong>Example 2:</strong></p>
        
        <pre><strong>Input:</strong> s = "cbbd"
        <strong>Output:</strong> "bb"
        </pre>
        
        <p>&nbsp;</p>
        <p><strong>Constraints:</strong></p>
        
        <ul>
            <li><strong>1 &lt;= s.length &lt;= 1000</strong></li>
            <li><strong>s</strong> consist of only digits and English letters.</li>
            </ul>
    </div>
    <div class="poblem-solution__container">

        <div class="poblem-solution__title">Solution 1:</div>
        <pre class="poblem-solution__pre">        
            /**
            * @param {string} s
            * @return {string}
            */
           var longestPalindrome = function(s) {    
               let longest = ""
           
               for(let i=0; i&lt s.length; i++){
                   if(longest.length &lt s.substring(i).length){
                       let substr = s.substring(i)            
                       let tempStr = ""
                       for(let j=0; j&lt substr.length; j++){
                           tempStr = substr.substring(0, substr.length-j) 
                           if(tempStr.length > longest.length && isPalindrome(tempStr)) {
                               longest = tempStr
                               break
                           }
                       }
                   } 
                   else break
               }
           
               function isPalindrome(str){
                   for(let i=0; i&lt Math.floor(str.length-1/2); i++){
                       if(str[i] != str[str.length-1-i]) return false
                   }
                   return true
               }
           
               return longest
           };
                  
        </pre>
    </div>
</div>