<div class="block">
    <!-- Iterator design pattern -->

    <def2>Iterator</def2>
    <p><strong>*Iteration(traversal) is a core functionality of various data structures</strong></p>
    <p><strong>*An iterator is a class tat facilitates the traversal (for example traversal of a tree)</strong></p>
    <p>- It keeps reference to the current element</p>
    <p>- Knows how to move to a different element</p>
    <p>- Knows when its done and there are no elements to move to</p>
    <p><strong>Javascript supports this through:</strong></p>
    <p>- Symbol.iteratonr member that returns</p>
    <p>- An iterator object with a function called next() that </p>
    <p>- Returns an object containing</p>
    <p><strong>  - The value beign iterated</strong></p>
    <p><strong>  - The done flag indicating whether iteration is finished</strong></p>

    <br>
    <p><strong> * An iterator is not iterable</strong></p>


    <div class="poblem-solution__container">
        <pre>
        </pre>
    </div>
</div>