<div class="block">
    <def1>Creational</def1>
    <p>Deal with the creation (construction) of objects</p>
    <p>Explicit (constructor) vs implicit (DI, reflection, etc)</p>
    <p>Wholesale (single statement) vs piecewise (step-by-step)</p>
</div>


<!-- Builder Patterns -->
<div w3-include-html="views/designPatterns/creational/builder.html"></div>

<!-- Builder Facets -->
<div w3-include-html="views/designPatterns/creational/builderFacets.html"></div>

<!-- Factory Method-->
<div w3-include-html="views/designPatterns/creational/factoryMethod.html"></div>

<!-- Factory -->
<div w3-include-html="views/designPatterns/creational/factory.html"></div>

<!-- Abstract Factory -->
<div w3-include-html="views/designPatterns/creational/abstractFactory.html"></div>