<div class="block">
    <def1>Structural</def1>
    <p>Concerned with the structure (e.g class members)</p>
    <p>Many patterns are wrappers that mimic underlying class' interface</p>
    <p>Stress the importance of good API design</p>
</div>




<!-- Adapter -->
<div w3-include-html="views/designPatterns/structural/adapter.html"></div>

<!-- Bridge -->
<div w3-include-html="views/designPatterns/structural/bridge.html"></div>

<!-- Composit -->
<div w3-include-html="views/designPatterns/structural/composit.html"></div>

<!-- Decorator -->
<div w3-include-html="views/designPatterns/structural/decorator.html"></div>

<!-- Façade -->
<div w3-include-html="views/designPatterns/structural/façade.html"></div>

<!-- Flyweight -->
<div w3-include-html="views/designPatterns/structural/flyweight.html"></div>